* {
    text-align: center;
    font-family: 'Raleway';
    font-weight: 100;
    color: #595959;
}

html, body {
    margin: 0;
    padding: 0;
}

.heading {
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

header {
    background-color: #e6e6e6;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 20px;
}

.nav {
    margin: 0 auto;
    padding-bottom: 20px;
    width: 95%;
    padding-top: 20px;
    font-weight: 900;
}

.home {
    margin-bottom: 8px;
    background-color: white;
    display: block;
    padding: 15px;
    font-weight: 900;
    color: black;
}

.portfolionav {
    margin-bottom: 8px;
    background-color: white;
    display: block;
    padding: 15px;
    font-weight: 900;
    color: black;

}

.contact {
    margin-bottom: 8px;
    background-color: white;
    display: block;
    padding: 15px;
    font-weight: 900;
    color: black;
}

ul {
    list-style-type: none;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
    display: inline-block;
}

.profilepic {
    width: 60%;
    padding-bottom: 13px;
}

.introduction {
    font-size: 18px;
    padding-top: 10px;
    width: 90%;
    line-height: 30px;
    margin: 0 auto;

}

.portfolio-title {
    font-weight: 900;
    color: black;
    font-size: 23px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.portfoliopic {
    width: 90%;
    margin-bottom: 10px;
}

caption {
    width: 75%;
    font-size: 60px;
}

body {
    background-color: #f2f2f2;
}

h3 {
    font-size: 24px;
    font-weight: 900;
    color: black;
}

.caption {
    font-size: 21px;
    width: 80%;
    margin: 0 auto;
}

.portfolio {
    margin-bottom: 55px;
}

.apps {
    padding-top: 25px;
    padding-bottom: 40px;
}

hr {
    width: 80%;
}

.closing {
    width: 80%;
    margin: 0 auto;
}

footer {
    padding-top: 30px;
    padding-bottom: 1.5em;
    margin-bottom: 0;
    background-color: #e6e6e6;
    font-size: 19px;
}

.footernav {
    display: none;
}

.studentname {
    float: left;
    color: black;
    padding-left: 15px;
    font-weight: 900;
}

.backtotop {
    float: right;
    padding-top: 18px;
    padding-right: 15px;
    font-weight: 900;
}

.contact-closing {
    font-weight: 900;
    color: black;
}


a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  @media (min-width: 768px) {

    header {
        padding-bottom: 40px;
    } 

    .home {
        margin-bottom: 20px;
        display: inline-block;
        padding: 15px;
        font-weight: 900;
        color: black;
        background-color: #e6e6e6;
        font-size: 18px;
    }
    
    .portfolionav {
        margin-bottom: 20px;
        display:inline-block;
        padding: 15px;
        font-weight: 900;
        color: black;
        background-color: #e6e6e6;
        font-size: 18px;


    }
    
    .contact {
        margin-bottom: 20px;
        display: inline-block;
        padding: 15px;
        font-weight: 900;
        color: black;
        background-color: #e6e6e6;
        font-size: 18px;


    }

    .heading {
        padding-bottom: 20px;
    }

    .introduction {
        float: left;
        width: 50%;
        padding-left: 20px;
        text-align: left;
        
    }

    .profilepic {
        float: right;
        width: 43%;
        padding-right: 20px;
    }

    .apps {
        float: left;
        width: 50%;
    }

    .portfolio {
        width: 100%
    }

/* FOOTER */

    .closing {
        margin-bottom: 50px;
    }

    .emailfooter {
        margin-bottom: 60px;
    }

    .backtotop {
        display: none;
    }
    
    .footernav {
        float: right;
        padding-top: 19px;
        padding-right: 25px;
        color: black;
        font-weight: 900;
        display: block;
    }

    .footerhome {
        padding-left: 30px;
    }

    .footerportfolio {
        padding-left: 30px;
    }

    .footercontact {
        padding-left: 30px;
    }

  }

  @media (min-width: 1024px) {
    
    .heading {
        float: left;
        padding-left: 50px;
    }

    .introduction {
        padding-left: 50px;
        font-size: 28px;
        line-height: 40px;
        padding-top: 30px;
    }

    .profilepic {
        width: 40%;
        padding-right: 50px;
        padding-bottom: 40px;
    }

    .nav {
        text-align: right;
        padding-top: 10px;
    }

    header {
        margin: 0 auto;
        padding-bottom: 0;
    }

    .apps {
        width: 32%;
    }

    .closing {
        width: 45%;
    }

    .studentname {
        padding-left: 75px;
    }

    .footercontact {
        padding-right: 75px;
    }

    .home {
        font-size: 22px;
    }

    .contact {
        font-size: 22px;
    }

    .portfolionav {
        font-size: 22px;
    }
  }   

